apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
  namespace: shuttleday
type: Opaque
data:
  MONGO_INITDB_ROOT_USERNAME: base64EncodedStringHere
  MONGO_INITDB_ROOT_PASSWORD: base64EncodedStringHere