kind: Secret
type: Opaque
apiVersion: v1
metadata:
  name: shuttleday-api-secret
  namespace: shuttleday
stringData:
  MONGO_URL: "mongodb-0.mongo/?authSource=admin"
  MONGO_USER: "someUsername"
  MONGO_PW: "somePassword"
  SERVER_PORT: "2600"
  AWS_S3_SECRET_ACCESS_KEY: "doYouLikeKpop?"
  AWS_S3_ACCESS_KEY_ID: "becauseIDo"
  AWS_S3_BUCKET_NAME: "woooawwwwoo"
  G_AUTH_CLIENT_ID: "someProjectIdHere"
  ACCESS_TOKEN_SECRET: "likeABulldozer"
  REFRESH_TOKEN_SECRET: "likeATankLikeASoldier"
