# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
bdlist-backend/node_modules
bdlist-frontend/node_modules
/.pnp
.pnp.js

# testing
bdlist-frontend/coverage

# production
bdlist-frontend/build
**/dist

# misc
bdlist-frontend/.DS_Store
bdlist-frontend/.env.local
bdlist-frontend/.env.development.local
bdlist-frontend/.env.test.local
bdlist-frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json