# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: './bdlist-backend/package-lock.json'

      - name: Install pnpm
        working-directory: ./bdlist-backend
        run: npm i -g pnpm
      - name: Install dependencies
        working-directory: ./bdlist-backend
        run: pnpm i
      - name: Transpile JavaScript to TypeScript
        working-directory: ./bdlist-backend
        run: pnpm build
